div.login-form-container{
    display: flex;
    flex-direction: column;
    width:60vw;
    margin:10vw auto;
}
.login-form{
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px) {
    div.login-form-container{
        margin-left: 30%;
    }
}