<div class="reminder-taker-form">

  <!-- Label to display any error messages -->
  
  <label class="error-message">{{ errMessage }}</label>
  
  <mat-form-field> 
    <input [(ngModel)]="reminder.reminderName" name="editTitle" matInput placeholder="Reminder Name" type="text">
  </mat-form-field>
  <mat-form-field> 
    <input [(ngModel)]="reminder.reminderDescription" name="editDesc" matInput placeholder="Description" type="text">
  </mat-form-field>
  <mat-form-field> 
    <input [(ngModel)]="reminder.reminderType" name="editTitle" matInput placeholder="Type" type="text">
  </mat-form-field>

  <div class="keep-c-done-wrapper">
    <button mat-button (click)="onSave()">Save</button>
  </div>
  </div>