.notes-container{
    width:80vw;
    margin:2vw 20vw;
    margin-left: 10%;
    display: flex;
    flex-flow: row wrap;
}
.keep-c-note-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
   }
.note-card{
    margin:1em;
}

@media(max-width: 768px) {
    .notes-container{
        margin-left: 20%;
    }
}