<div class="category-taker-form">

  <!-- Label to display any error messages -->
  
  <label class="error-message">{{ errMessage }}</label>
  
  <mat-form-field> 
    <input [(ngModel)]="category.categoryName" name="editName" matInput placeholder="Category name" type="text">
  </mat-form-field>
  <mat-form-field>
    <textarea [(ngModel)]="category.categoryDescription" name="editDescription" matInput placeholder="Description"></textarea>
  </mat-form-field>
  
  <div class="keep-c-done-wrapper">
    <button mat-button (click)="onSave()">Save</button>
  </div>
  </div>