<mat-card class="note-card">
    <mat-card-title name="title">{{note.noteTitle}}</mat-card-title>
    <mat-card-subtitle *ngIf="category" name="category">Category: {{category.categoryName}}</mat-card-subtitle>
    <mat-card-content>{{note.noteContent}}</mat-card-content>
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let reminder of reminders" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(reminder)" (click)="editReminder(reminder)">
          {{reminder.reminderName}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>        
        <input placeholder="Add a reminder"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
    <mat-card-actions>
      <button mat-button (click)='openEditNoteView()'>Edit</button>
      <button mat-button (click)='deleteNote(note)'>Delete</button>
    </mat-card-actions>
  </mat-card>